
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  .contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    font-weight: bold;
  }
  input[type="albhabet"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  textarea {
    resize: vertical;
  }
  input[type="contactus"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  textarea {
    resize: vertical;
  }
  

  input[type="submit"] {
    background: #45526e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 2px;
    border: #45526e;

  }


  .submit:hover{
    background-color: #ffffff;
    color: #45526e;
}
  .alert {
    display: none;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
