body {
    font-family: Arial, sans-serif;
    text-align: center;
    
}
#schedule {
    font-size: 1.5em;
    margin-top: 50px;
}


/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"],input[type="date"], select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.booknow {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;

}

 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
 
  }

  h1 {
    color: #333;
    margin-bottom: 20px; 
   }
  

